################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/1.4.4/Snake/Debug/Snake.tlog
/1.4.4/Snake/Debug/vc143.pdb
/1.4.4/Snake/Debug/vc143.idb
/CppProperties.json
